{%extends 'base.html'%}{%load bootstrap5%}{% load static %}
{%block content%}

{% if user.is_authenticated %}
<div class="container shadow" style="height: 36vh;margin-top:4%;background: linear-gradient(180deg, rgb(255, 255, 255), rgb(31, 107, 31));">
  <h1  style="padding-top: 7%;padding-left:10%;color: green;">Healthy living is a priority!</h1>
</div>

  {%else%}
  <div class="container shadow" style="height: 30%;width: 100%;margin-top:4%;background: linear-gradient(180deg, rgb(255, 255, 255), rgb(47, 117, 32));">
    <h1  style="padding-top: 20%;padding-bottom:25%;padding-left:15%;color: white;">Healthy living is a priority!</h1>
  </div>
  
  
{%endif%}



{%endblock%}