{%extends "base.html"%}
{% load bootstrap5 %}
{% load static%}

{% block content %}
<div class="container-fluid mb-4 pb-4" style="height: 100%;">
  <div class="row">
    <!-- Empty div -->
    <div class="col-lg-2"></div>

    <div class="col-lg-8 mt-4 pt-2 ">
            <div class="pb-2">
               
            <img src="/static/images/nutrition1.jpeg" alt="" class="d-flex justify-content-start rounded-circle mb-1 img-fluid mr-1" style="width: 200px;">
            
        <h4> <span class="font-weight-bold">Name:</span>  Mercy Kerubo </h4>
        <p> <span class="font-weight-bold"> Email:</span>  Kerubomercy21@gmail.com </p>
        <p> <span class="font-weight-bold"> Occupation:</span> Nutritionist and Dietician  </p>
        
        </div>
        <hr>
       
        
    </div>
    <!-- empty div -->
    <div class="col-lg-2"></div>

  </div>
  <div class="row">
    <!-- Empty div -->
    <div class="col-lg-2"></div>

    <div class="col-lg-8 mt-4 pt-2 ">
            <div class="pb-2">
               
            <img src="/static/images/fitness1.jpg" alt="" class="d-flex justify-content-start rounded-circle mb-1 img-fluid mr-1" style="width: 200px;">
            
        <h4> <span class="font-weight-bold">Name:</span> Brenda Kwamboka</h4>
        <p> <span class="font-weight-bold"> Email:</span>  brendaclare15@gmail.com </p>
        <p> <span class="font-weight-bold"> Occupation:</span> Fitness Coach  </p>
        
        </div>
        <hr>
       
        
    </div>
    <!-- empty div -->
    <div class="col-lg-2"></div>

  </div>

  
</div>





{% endblock %}