{% extends 'base.html' %}{%load bootstrap5%} {% load static %} {% block title %} Login Page {% endblock %} {% block content %}
<div class="container mt-5 mb-3">
    <div class="row">
        <div class="col-md-6 shadow" style="margin-left: 22%; margin-top:6%; margin-bottom: 6%; padding-top:1%;padding-bottom:3%;">
        <h1>Sign Into Your Account</h1>
        <form action="{%url 'login'%}" method="POST">
            {% csrf_token %}
            <div class="container mt-5">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
       <p> Don't have an account? <a class=' font-weight-bold' href="/accounts/register">Register here</a>
       </p>
        </div>
    </div>
</div>
{% endblock %}