{% extends 'base.html' %} {%load bootstrap5%} {% load static %}{% block title %} Sign Up Page {% endblock %} {% block content %}

<div class="container mt-5 mb-3 ">
    <div class="row gradient-custom">
        
        <div class="col-md-6 shadow" style="margin-left: 23%;">
        <h1>Register new Account</h1>
        <form action="/register/" method="POST">
            {% csrf_token %}
            <div class="container mt-5">
                <div class="col-6 offset 3 mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username">
                </div>
                <div class="col-6 offset 3 mb-3">
                    <label for="first_nam" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="first_name" name="first_name">
                </div>
                <div class="col-6 offset 3 mb-3">
                    <label for="last_name" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="last_name" name="last_name">
                </div>
                <div class="col-6 offset 3 mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" name="email">
                </div>
                <div class="col-6 offset 3 mb-3">
                    <label for="password1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password1" name="password1">
                </div>
                <div class="col-6 offset 3 mb-3">
                    <label for="password2" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" id="password2" name="password2">
                </div>
                <div class="col-6 offset 3 mb-3">
                    <button type="submit" class="btn btn-primary flex-parent jc-center">Submit</button>
                </div>

            </div>
        </form>
        <p>Already have an account? <a class=' font-weight-bold' href="/accounts/login">Login</a></p>
        </div>
    </div>
</div>


{% endblock %}